.img-card {
  margin: 2rem auto;
  padding: 24px;
  @media (min-width: 544px) {
    width: 400px;
  }
}

.mat-card {
  .mat-card-actions {
    padding-top: 0;
  }

  .mat-button {
    margin: 0 auto;
    display: block;
  }
}
